In [ ]:
import pandas as pd
data = pd.read_csv('/content/diabetes.csv')
data

   Sl. No.  Age  Glucose Level
0        1   43             99
1        2   21             65
2        3   25             79
3        4   42             75
4        5   57             87
5        6   59             81

In [ ]:
def compute(data):
  y = sum(data['Glucose Level'])
  x = sum(data['Age'])
  x2,y2,xy = 0,0,0

  for i in data['Glucose Level']:
    y2 += i**2
  for i in data['Age']:
    x2 += i**2

  for i,j in zip(data['Glucose Level'],data['Age']):
    xy += i * j
  n = len(data['Age'])
  b0 = (y*x2 - x*xy ) / (n*x2 - x**2)
  b1 = (n*xy - x*y) / (n*x2 - x**2)
  return b0,b1

In [ ]:
c,m = compute(data)

In [ ]:
age = int(input("Enter the age : "))
print(f"Glucose level = {age*m+ c}")

Enter the age : 55
Glucose level = 86.32894560107455